{% extends "base.html" %}

{% block content %} {{super()}}
        {% for costume in costumes_list %}
            {% for key, value in costume.items() %}
                {% if key == 'header'%}
                    <h2>{{value}}</h2>
                {% elif key == 'image'%}
                    <img class="costume" src='{{value}}'>
                {% elif key == 'body'%}
                    <p>{{value}}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}

{% block footer %}
{{super()}}
{% endblock footer %}

{% endblock content %}

