{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}

        {% for costume in costumes_list %}
            {% for key, value in costume.items() %}
                {% if key == 'header'%}
                    <h2>{{value}}</h2>
                {% elif key == 'image'%}
                    <img class="costume" src='{{value}}'>
                {% elif key == 'body'%}
                    <p>{{value}}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
{% block page_content %}
{{super()}}
{% endblock page_content %}
{% endblock content %}
